* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  background-color: #d5dfeb;
  padding-top: 15px;
  font-size: 14px;
}

button {
  padding: 5px;
  width: 120px;
  height: 30px;
  border-radius: 15px;
  border-width: 0px;
  background-color: #6287b4;
  color: white;
  font-size: 14px;
  margin: 20px 5px 0px 5px;
}

.container {
  border-radius: 10px;
  padding: 15px;
  margin: 15px 0px;
  background-color: #f8f9fb;
  width: 800px;
}

input[type='text'] {
  height: 2em;
}

#firstname-input {
  grid-area: firstname;
}

#lastname-input {
  grid-area: lastname;
}

#church-input {
  grid-area: church;
}

#group-input {
  grid-area: group;
}

#submit {
  grid-area: submit;
  justify-self: center;
  align-self: end;
}

#form-list {
  margin: 10px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'firstname church group .'
    'lastname church group submit';
}

label {
  padding-left: 10px;
}

.list.label {
  font-weight: 700;
}

.list > ul {
  display: grid;
  grid-template-columns: 30px 2fr 1fr 1fr 100px;
  height: 30px;
  width: 800px;
}

.list > ul :nth-child(n) {
  margin: auto 10px;
}
.main.list :nth-child(odd):not(li) {
  background-color: #b2c5db;
}

.page {
  width: 1056px;
  height: 816px;
  display: block;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: 221px 221px 221px 221px;
  grid-template-rows: 360px 360px;
  gap: 2px;
  position: absolute;
}

.card.container {
  margin: 0;
  width: 221px;
  height: 360px;
  padding: 0;
  position: relative;
  background: white;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: rgba(0, 0, 0, 0.5);
}

.card.back.message {
  margin: 0px 21px;
  font-size: 12px;
  text-align: center;
}

.card.img {
  width: 221px;
  height: 360px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
.card.content {
  width: 221px;
  height: 200px;
  margin-top: 60px;
  margin-bottom: 100px;
  position: absolute;
  left: 0;
  top: 0;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  z-index: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  text-align: center;
  color: black;
}

.card.name {
  font-size: 2em;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card.name > div {
  text-align: center;
}
.card.name.long {
  padding: 0px 10px;
  font-size: 1.4em;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: center;
}
