@font-face {
  font-family: 'NotoSansKR';
  src: url('fonts/NotoSansKR-Regular.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSansKR';
  src: url('fonts/NotoSansKR-Medium.otf') format('truetype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'NotoSansKR';
  src: url('fonts/NotoSansKR-Bold.otf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'NotoSansKR';
  font-weight: 400;
  background-color: #d5dfeb;
  padding-top: 15px;
  font-size: 14px;
}

button {
  padding: 5px;
  width: 120px;
  height: 30px;
  border-radius: 15px;
  border-width: 0px;
  background-color: #6287b4;
  color: white;
  font-size: 14px;
  margin: 20px 5px 0px 5px;
}

.container {
  border-radius: 10px;
  padding: 15px;
  margin: 15px 0px;
  background-color: #f8f9fb;
  width: 800px;
}

input[type='text'] {
  height: 2em;
  padding-left: 5px;
}

#name1-input {
  grid-area: name1;
}

#name2-input {
  grid-area: name2;
}

#church-input {
  grid-area: church;
}

#lodge-input {
  grid-area: lodge;
}

#submit {
  grid-area: submit;
  justify-self: center;
  align-self: end;
}

#form-list {
  margin: 10px 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1.5fr 0.5fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'name1 church lodge .'
    'name2 church lodge submit';
}

label {
  padding-left: 10px;
}

.list.label {
  font-weight: 700;
}

.list > ul {
  display: grid;
  grid-template-columns: 50px 2fr 1fr 1fr 100px;
  height: 30px;
  width: 800px;
}

.list > ul :nth-child(n) {
  margin: auto 10px;
}
.main.list :nth-child(odd):not(li, button) {
  background-color: #b2c5db;
}

.delete {
  height: 20px;
  width: 60px;
  font-size: 0.7em;
  background-color: #6287b4;
  padding: 0;
}

.notice {
  margin-top: 15px;
  color: rgb(255, 59, 59);
}

.processing.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.75);
  position: fixed;
  top: -15px;
  left: 0px;
  overflow: hidden;
  padding: 0px;
  display: none;
}

.processing.text {
  font-size: 2.5em;
}

.loader {
  border: 4px solid #f3f3f3;
  border-radius: 50%;
  border-top: 4px solid #6287b4;
  width: 60px;
  height: 60px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.page {
  width: 816px;
  height: 1056px;
  display: block;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: 384px 384px;
  grid-template-rows: 288px 288px 288px;
  gap: 0px;
  position: absolute;
}

.card.container {
  margin: 0;
  width: 384px;
  height: 288px;
  padding: 0;
  position: relative;
  background: white;
  border-radius: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: rgba(0, 0, 0, 0.5);
}

.card.back.message {
  margin: 0px 21px;
  font-size: 12px;
  text-align: center;
}

.card.img {
  width: 384px;
  height: 288px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 2;
}
.card.content {
  width: 384px;
  height: 288px;
  margin: 0;
  position: absolute;
  left: 0;
  top: 0;
  font-weight: 700;
  z-index: 3;
  display: grid;
  grid-template-rows: 55px 195px 38px;
  color: rgba(40, 40, 40, 1);
}

.card.church {
  display: flex;
  margin-left: 10px;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-end;
  padding-right: 10px;
  padding-bottom: 5px;
  font-weight: 500;
  font-size: 1.2em;
  color: white;
}

.card.name {
  position: relative;
}

.card.lodge.box {
  position: absolute;
  left: 5px;
  right: 0px;
  top: 0px;
  display: grid;
  grid-template-columns: 35px auto;
  grid-template-rows: 20px 20px;
  grid-template-areas:
    'logo lodgeKR'
    'logo lodgeEN';
  font-size: 1em;
}

.card.lodge.logo {
  margin-top: 5px;
  width: 30px;
  height: 35px;
  grid-area: logo;
}

.card.lodge.kr {
  grid-area: lodgeKR;
}
.card.lodge.en {
  grid-area: lodgeEN;
}

.card.name {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card.name.short {
  font-size: 3.1em;
}
.card.name.long {
  font-size: 2.5em;
}

.card.retreat {
  display: flex;
  margin-left: 10px;
  flex-direction: row;
  align-items: center;
  font-weight: 700;
  font-size: 0.8em;
  color: white;
}
